body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin: 0;
  overflow-y: auto; /* Habilita rolagem vertical */
}

.container {
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px;
  overflow-x: auto; /* Permite rolagem horizontal se necessário */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos no cálculo da largura total */
}

textarea {
  height: 80px;
}

button {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1976D2;
}

#partsUsedSection {
  margin-top: 10px;
}

#partsTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  table-layout: fixed; /* Controla o layout das colunas */
  word-wrap: break-word; /* Quebra palavras longas para evitar o overflow */
}

#partsTable th, #partsTable td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center; /* Alinha o texto ao centro para uma melhor aparência */
}

#partsTable th {
  background-color: #f0f0f0;
}

#partsTable input {
  width: 100%; /* Garante que os inputs preencham a largura da célula */
  box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}

#partsTable button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#partsTable button:hover {
  background-color: #d32f2f;
}

#logotipo {
  margin-top: 0%;
  max-width: 100%;
}

#totalPart {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
}

#labor {
  font-weight: bold;
}

#totalMDO {
  font-weight: bold;
}

#generatePDF {
  background-color: #2196F3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#generatePDF:hover {
  background-color: #1976D2;
}
